<h1>Autores</h1>
<a routerLink="/authors/new">Crear autor</a>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    @for (author of authorsPagina(); track author._id) {
      <tr>
        <td>{{ author.name }}</td>
        <td>{{ author.email }}</td>
        <td>{{ author.nationality }}</td>
        <td> <button (click)="borrarAutor(author._id)">Borrar</button>
        <a [routerLink]="['/authors', author._id, 'edit']">Editar</a>
        </td>
      </tr>
    }
  </tbody>
</table>
<div class="paginacion">
  <button (click)="paginaAnterior()" [disabled]="paginaActual() === 1">Anterior</button>
  <span>Página {{ paginaActual() }} de {{ totalPaginas() }}</span>
  <button (click)="paginaSiguiente()" [disabled]="paginaActual() === totalPaginas()">Siguiente</button>
</div>