<h1>Autores</h1>
<a routerLink="/authors/new">Crear autor</a>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Nacionalidad</th>
    </tr>
  </thead>
  <tbody>
    @for (author of authors(); track author._id) {
      <tr>
        <td>{{ author.name }}</td>
        <td>{{ author.email }}</td>
        <td>{{ author.nationality }}</td>
        <td> <button (click)="borrarAutor(author._id)">Borrar</button>
        <a [routerLink]="['/authors', author._id, 'edit']">Editar</a>
        </td>
      </tr>
    }
  </tbody>
</table>